*{
    color: aliceblue;
}
body{background-color: black;}
h1,h3{
    text-align: center;
    padding: 20px;
}

.rps-container{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#r,#p,#s{
    width: 25%;
    transition: all 1s ease-in-out;
}

button{
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    background-size:55%;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-radius: 360px;
    background-color: wheat;
}

.rock{
    background-image: url('assets/rock.png');
}
.paper{
    background-image: url('assets/paper.jpeg');
}

.scissors{
    background-image: url('assets/scissors.png');
}


.glow::before, .glow::after{
    content: '';
    position: absolute;
    left:calc(-25px / 2);
    top: calc(-25px / 2);
    background:  linear-gradient(-45deg, #00ff66,  #00ffff,  #ff00ff, #ff0099, #899fff);
    background-size: 400%;
    width: calc(100% + 25px);
    aspect-ratio: 1;
    z-index: -5;
    animation: change 20s linear infinite;
    border-radius: 360px;
}

@keyframes change{
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.glow::after{
    filter:    blur(10px);
    opacity: .5;
}

